In [38]:
import pandas as pd

In [39]:
data = pd.read_csv('taxi.csv') 
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [40]:
print("Columns in your CSV file:")
for col in data.columns:
    print(f"- '{col}'")

Columns in your CSV file:
- 'Priceperweek'
- 'Population'
- 'Monthlyincome'
- 'Averageparkingpermonth'
- 'Numberofweeklyriders'

In [42]:
target_col = None
for col in data.columns:
    if 'rider' in col.lower():  # matches things like 'numberofweeklyriders' or similar
        target_col = col
        break

In [43]:
if target_col:
    print(f"\n✅ Found target column: '{target_col}'")

✅ Found target column: 'Numberofweeklyriders'

In [44]:
data.columns = data.columns.str.strip()

In [48]:
  x = data.drop(target_col, axis=1)
  y = data[target_col]

In [60]:
if target_col:
    print("\n Data prepared successfully.")
    print("Sample features (X):")
    print(x.head())

    print("\nSample target (y):")
    print(y.head())
else:
    print("\n Couldn't find a column containing 'rider'. Please check your CSV file.")

 Data prepared successfully.
Sample features (X):
   Priceperweek  Population  Monthlyincome  Averageparkingpermonth
0            15     1800000           5800                      50
1            15     1790000           6200                      50
2            15     1780000           6400                      60
3            25     1778000           6500                      60
4            25     1750000           6550                      60

Sample target (y):
0    192000
1    190400
2    191200
3    177600
4    176800
Name: Numberofweeklyriders, dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

# Assuming 'target_col' is your label/target column name
X = data.drop(target_col, axis=1)  # Features
y = data[target_col]               # Target variable

In [66]:
X_train,x_test,y_train,y_test = train_test_split(X ,y,test_size=0.25,random_state=0)

In [68]:
from sklearn.linear_model import LinearRegression

In [70]:
model = LinearRegression() 
model.fit(X_train,y_train) 
print ('Training score',model.score(X_train,y_train))

Training score 0.9285840543940118

In [71]:
import pickle

In [73]:
pickle.dump(model,open('model.pkl','wb'))

In [79]:
model1 = pickle.load(open('model.pkl','rb')) 
print(['model1. predict 63 1610000 16200200'])

['model1. predict 63 1610000 16200200']